graft src

prune .github
prune data
prune docs
prune tests
prune temp
prune scripts
prune examples

include AUTHORS.rst
include CONTRIBUTING.rst
include CHANGELOG.rst
include LICENSE
include README.rst
include requirements.txt

include *.txt
include Makefile
include tox.ini

exclude requirements-dev.txt
exclude pytest.ini .bumpversion.cfg .editorconfig
exclude tasks.py
exclude CONTRIBUTING.md

global-exclude *.py[cod] __pycache__ *.dylib *.nb[ic] .DS_Store
