pip>=19.2.3
bump2version >=0.5.11
wheel>=0.33.6
watchdog>=0.9.0
flake8>=3.7.8
tox>=3.14.0
coverage>=4.5.4
twine>=1.14.0
pytest>=4.6.5
pytest-runner>=5.1

autopep8
attrs >=17.4

check-manifest >=0.36
doc8
flake8
invoke >=0.14
isort
m2r
nbsphinx
pydocstyle
sphinx >=3.4
furo
sphinx_markdown_tables
sphinx_automodapi
recommonmark
numpydoc
sphinx_copybutton

beautifulsoup4
python-slugify[unidecode]
css_html_js_minify

yagmail
slack_sdk
gitpython
paramiko
Click>=7.0
pydrive

-e .
